

.container {
     display: flex;
    flex-direction: column;
    align-items: center; /* Centers items vertically within the flex container */ 
    justify-content: center;    /* Centers items horizontally within the flex container */ 
}

.overlay-container {
    position: relative;
    text-align: center;
    margin-top: 30px;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 2rem;
}

#changeTextButton{
    width: 400px;
    height: 40px;
    cursor: pointer;
    background-color: brown;
    transition: 0.5s ease;
    
}
#changeTextButton:hover{
    background-color: rgb(206, 29, 29);
}